[submodule "aima-python"]
	path = aima-python
	url = https://github.com/aimacode/aima-python
[submodule "Deep-Learning"]
	path = Deep-Learning
	url = https://github.com/priya-dwivedi/Deep-Learning
[submodule "Machine-Learning-Projects"]
	path = Machine-Learning-Projects
	url = https://github.com/shsarv/Machine-Learning-Projects
[submodule "deep-learning-v2-pytorch"]
	path = deep-learning-v2-pytorch
	url = https://github.com/udacity/deep-learning-v2-pytorch
[submodule "Data-science"]
	path = Data-science
	url = https://github.com/khuyentran1401/Data-science
